.Shop, .Cart{
  .items{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 320px;
    margin: 10px auto;
    background-color: #7fffd4;
    flex-wrap: wrap;
    .item{
      border: 2px solid rgb(243, 243, 243);
      // background-color: black;
      border: 2px solid #202020;
      margin: 10px auto;
      // width:260px;
      width: 95%;
      border-radius: 5px;
      // color: rgb(241, 241, 241);
      padding: 5px;
      // padding: 10px;
      img{
        // width: 240px;
        width: 95%;
        max-width: 240px;
        // height: 240px;
        padding: 5px;
      }
      .item-info{
        display: flex;
        justify-content: space-between;
        width: 95%;
        max-width: 320px;
        margin: 0 auto;
        // background-color: aquamarine;
      }
      .add-to-cart{
        display: flex;
        width: 95%;
        max-width: 320px;
        box-sizing: border-box;
        background-color: rgb(175, 175, 175);
        color:rgb(8, 8, 8);
        border: 1px solid #000;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
      }
      .add-to-cart:active{
        transition: 200ms;
        color: rgb(175, 175, 175);
        background-color: rgb(8, 8, 8);
      }
    }
  }
}

@media(min-width:640px){
  .Shop, .Cart{
    .items{
      max-width: 720px;
      .item{
        max-width:280px;
        img{
          max-width: 240px;
        }
        .item-info{
          max-width: 280px;
        }
      }
    }
  }
  
}

@media(min-width:1024px){
  .Shop, .Cart{
    .items{
      max-width: 85%;
      .item{
        max-width:280px;
        img{
          max-width: 240px;
        }
        .item-info{
          max-width: 280px;
        }
      }
    }
  }  
}
